In [1]:
import openrouteservice as ors
import folium
import pandas as pd

In [2]:
nodes = pd.read_csv("JavaData\\NodeInformation.csv")
nodes

   Unnamed: 0  osm_id     xcoord     ycoord         Type  ParcelVolume
0           0       0  29.442315  40.805331        TRUCK      0.000000
1           1       1  29.245976  40.969152  UAVELIGIBLE      1.747117
2           2       2  29.250962  40.963022  UAVELIGIBLE      1.417271
3           3       3  29.278775  40.977839  UAVELIGIBLE      1.873482
4           4       4  28.851020  41.025410        TRUCK      4.102623
5           5       5  28.852149  41.108290  UAVELIGIBLE      1.976785
6           6       6  29.160179  41.171734        TRUCK      5.403694
7           7       7  29.442315  40.805331        TRUCK      0.000000

In [3]:
client = ors.Client(key='5b3ce3597851110001cf6248facc383c642b420fa9818331b313169e')

In [4]:
coordinates = []

for index, row in nodes.iterrows():
    coordinate = (row["xcoord"], row["ycoord"])
    coordinates.append(coordinate)

In [5]:
distanceMatrix = client.distance_matrix(locations = coordinates, metrics = ["distance", "duration"])

In [6]:
type(distanceMatrix["durations"])

list

In [7]:
distanceMatrix

{'durations': [[0.0,
   1342.87,
   1436.49,
   1610.97,
   3040.59,
   2961.89,
   2872.84,
   0.0],
  [1159.74, 0.0, 192.4, 428.43, 2116.32, 2037.63, 1948.57, 1159.74],
  [1235.54, 196.7, 0.0, 500.19, 2192.13, 2113.43, 2024.37, 1235.54],
  [1362.15, 425.8, 487.93, 0.0, 2318.74, 2240.04, 2150.98, 1362.15],
  [3134.7, 2332.28, 2425.91, 2600.39, 0.0, 809.21, 2347.89, 3134.7],
  [2902.71, 2100.29, 2193.92, 2368.4, 808.0, 0.0, 1981.95, 2902.71],
  [2794.45, 1992.03, 2085.66, 2106.67, 2253.44, 1861.19, 0.0, 2794.45],
  [0.0, 1342.87, 1436.49, 1610.97, 3040.59, 2961.89, 2872.84, 0.0]],
 'distances': [[0.0,
   27843.03,
   28200.03,
   30581.71,
   70862.04,
   72207.05,
   63915.61,
   0.0],
  [28650.25, 0.0, 1270.84, 4273.28, 46783.41, 48128.43, 39836.98, 28650.25],
  [28459.24, 1285.45, 0.0, 4123.65, 46592.4, 47937.41, 39645.97, 28459.24],
  [30786.45, 4199.68, 4327.99, 0.0, 48919.61, 50264.63, 41973.18, 30786.45],
  [72722.09, 46869.25, 47226.25, 49607.93, 0.0, 11559.9, 44974.15, 72722.09],
  [74859.86, 49007.02, 49364.02, 51745.71, 11922.13, 0.0, 39878.88, 74859.86],
  [65578.68, 39725.84, 40082.84, 39553.87, 44762.96, 37854.83, 0.0, 65578.68],
  [0.0, 27843.03, 28200.03, 30581.71, 70862.04, 72207.05, 63915.61, 0.0]],
 'destinations': [{'location': [29.442268, 40.805213],
   'snapped_distance': 13.72},
  {'location': [29.245918, 40.969049], 'snapped_distance': 12.53},
  {'location': [29.25084, 40.963048], 'snapped_distance': 10.68},
  {'location': [29.278707, 40.977712], 'snapped_distance': 15.25},
  {'location': [28.850853, 41.025398], 'snapped_distance': 14.12},
  {'location': [28.852268, 41.108323], 'snapped_distance': 10.66},
  {'location': [29.16031, 41.171882], 'snapped_distance': 19.73},
  {'location': [29.442268, 40.805213], 'snapped_distance': 13.72}],
 'sources': [{'location': [29.442268, 40.805213], 'snapped_distance': 13.72},
  {'location': [29.245918, 40.969049], 'snapped_distance': 12.53},
  {'location': [29.25084, 40.963048], 'snapped_distance': 10.68},
  {'location': [29.278707, 40.977712], 'snapped_distance': 15.25},
  {'location': [28.850853, 41.025398], 'snapped_distance': 14.12},
  {'location': [28.852268, 41.108323], 'snapped_distance': 10.66},
  {'location': [29.16031, 41.171882], 'snapped_distance': 19.73},
  {'location': [29.442268, 40.805213], 'snapped_distance': 13.72}],
 'metadata': {'attribution': 'openrouteservice.org | OpenStreetMap contributors',
  'service': 'matrix',
  'timestamp': 1648547834905,
  'query': {'locations': [[29.442315, 40.80533085],
    [29.2459755, 40.9691524],
    [29.2509623, 40.9630221],
    [29.27877451, 40.97783943],
    [28.85102015, 41.02541022],
    [28.85214898, 41.10828983],
    [29.16017889, 41.17173403],
    [29.442315, 40.80533085]],
   'profile': 'driving-car',
   'responseType': 'json',
   'metricsStrings': ['DISTANCE', 'DURATION'],
   'metrics': ['distance', 'duration']},
  'engine': {'version': '6.7.0',
   'build_date': '2022-02-18T19:37:41Z',
   'graph_date': '2022-03-13T11:00:24Z'}}}

In [8]:
columns = []
rows = []

for index, row in nodes.iterrows():
    columns.append(index)
    rows.append(index)

distanceDataFrame = pd.DataFrame(distanceMatrix["durations"], columns = columns, index = rows)

distanceDataFrame

         0        1        2        3        4        5        6        7
0     0.00  1342.87  1436.49  1610.97  3040.59  2961.89  2872.84     0.00
1  1159.74     0.00   192.40   428.43  2116.32  2037.63  1948.57  1159.74
2  1235.54   196.70     0.00   500.19  2192.13  2113.43  2024.37  1235.54
3  1362.15   425.80   487.93     0.00  2318.74  2240.04  2150.98  1362.15
4  3134.70  2332.28  2425.91  2600.39     0.00   809.21  2347.89  3134.70
5  2902.71  2100.29  2193.92  2368.40   808.00     0.00  1981.95  2902.71
6  2794.45  1992.03  2085.66  2106.67  2253.44  1861.19     0.00  2794.45
7     0.00  1342.87  1436.49  1610.97  3040.59  2961.89  2872.84     0.00

In [9]:
distanceDataFrame.to_csv("JavaData\\DistanceMatrix.csv")