In [1]:
import pandas as pd
import random

In [2]:
nodes = pd.read_csv("NodeGeneration\\deneme.csv")
nodes

   osm_id     xcoord     ycoord
0       0  29.442315  40.805331
1       1  29.245976  40.969152
2       2  29.250962  40.963022
3       3  29.278775  40.977839
4       4  28.851020  41.025410
5       5  28.852149  41.108290
6       6  29.160179  41.171734

In [3]:
# Random UAV eligiblity
nodes["Type"] = ""
uavChance = 0.8
nodes.at[0, "Type"] = "TRUCK"

for i in range(1, nodes.shape[0]):
    if(random.random() < uavChance):
        nodes.at[i, "Type"] = "UAVELIGIBLE"
    else:
        nodes.at[i, "Type"] = "TRUCK"

nodes

   osm_id     xcoord     ycoord         Type
0       0  29.442315  40.805331        TRUCK
1       1  29.245976  40.969152  UAVELIGIBLE
2       2  29.250962  40.963022  UAVELIGIBLE
3       3  29.278775  40.977839  UAVELIGIBLE
4       4  28.851020  41.025410        TRUCK
5       5  28.852149  41.108290  UAVELIGIBLE
6       6  29.160179  41.171734        TRUCK

In [4]:
# Random parcel volume
nodes["ParcelVolume"] = ""
nodes.at[0, "ParcelVolume"] = 0

uavA = 1
uavC = 2
uavB = 3

truckA = 3
truckC = 5
truckB = 9

for i in range(1, nodes.shape[0]):
    if(nodes.at[i, "Type"] == "UAVELIGIBLE"):
        nodes.at[i, "ParcelVolume"] = random.triangular(uavA, uavB, uavC)
    else:
        nodes.at[i, "ParcelVolume"] = random.triangular(truckA, truckB, truckC)

nodes

   osm_id     xcoord     ycoord         Type ParcelVolume
0       0  29.442315  40.805331        TRUCK            0
1       1  29.245976  40.969152  UAVELIGIBLE     1.747117
2       2  29.250962  40.963022  UAVELIGIBLE     1.417271
3       3  29.278775  40.977839  UAVELIGIBLE     1.873482
4       4  28.851020  41.025410        TRUCK     4.102623
5       5  28.852149  41.108290  UAVELIGIBLE     1.976785
6       6  29.160179  41.171734        TRUCK     5.403694

In [5]:
nodes = nodes.append(nodes.loc[0], ignore_index = True)
nodes.at[nodes.shape[0]-1, "osm_id"] = nodes.shape[0]-1
nodes

   osm_id     xcoord     ycoord         Type ParcelVolume
0       0  29.442315  40.805331        TRUCK            0
1       1  29.245976  40.969152  UAVELIGIBLE     1.747117
2       2  29.250962  40.963022  UAVELIGIBLE     1.417271
3       3  29.278775  40.977839  UAVELIGIBLE     1.873482
4       4  28.851020  41.025410        TRUCK     4.102623
5       5  28.852149  41.108290  UAVELIGIBLE     1.976785
6       6  29.160179  41.171734        TRUCK     5.403694
7       7  29.442315  40.805331        TRUCK            0

In [6]:
nodes.to_csv("C:\\IE502QGIS\\Jupyter\\JavaData\\NodeInformation.csv")